<div class="container-fluid">
  <div class="row py-3" cdkDropListGroup>
    <div *ngFor="let item of kanbanBoard; let i = index" id="kandban-list-{{ i }}" class="col-sm-4 col-md-4 col-xl-4">
      <div class="card column-card">
        <div cdkDropList class="card-body" [cdkDropListData]="item.tasks" (cdkDropListDropped)="drop($event)">
          <h5 class="card-title">{{ item.title }}</h5>
          <div class="items" *ngFor="let task of item.tasks" cdkDrag>
            <app-kanban-coloun-card [task]="task"></app-kanban-coloun-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-holder">
  <button id="add-new-task-button" type="button" class="btn btn-primary" (click)="open()">
    <i class="bi bi-plus"></i>
  </button>
</div>
